* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #34495e;
}

li {
  list-style-type: none;
}

.text-underline {
  text-decoration: underline;
}

.add-top {
  margin-top: 70px;
  visibility: visible !important;
}

.no-transform {
  transform: none !important;
}

.green-btn {
  background: #0dc79c;
  color: white;
  border: 0;
  border-radius: 30px;
}

.center {
  display: block;
  margin: 0 auto;
}

.book {
  border-radius: 10px;
  padding: 15px;
  transition: 0.2s;
}

.book:hover {
  background: #171743;
}

.book-img {
  height: 150px;
  width: 120px;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}

.book-title {
  background: #0dc79c;
  color: white;
  border-radius: 20px;
  text-align: center;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  margin: 0 auto;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  white-space: nowrap;
  padding: 5px 25px 5px 25px;
  margin-top: 15px;
}

.results {
  visibility: hidden;
  font-size: 18px;
  color: #b4c1b8;
  font-style: italic;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
  height: 60px;
  background: #3e4050;
  display: block;
}

.results-msg {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

.clear-filter {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 5px 15px 5px 15px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background: #1a2c3e;
  z-index: 1000;
}

.nav-icon {
  position: absolute;
  top: 20px;
  left: 15px;
  color: #0dc79c;
}

.nav-header {
  color: #b4c1b8;
  font-family: 'Cantata One', serif;
  font-weight: 900;
  position: absolute;
  top: 15px;
  left: 80px;
  margin: 0;
}

.menu {
  color: #b4c1b8;
  position: fixed;
  height: 100%;
  width: 300px;
  left: 0;
  top: 70px;
  transform: translateX(-100%);
  background: #001427;
  z-index: 900000;
  transition: 0.5s;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
}

.menu-header {
  font-family: 'Cantata One', serif;
  text-decoration: underline;
}

.menu li {
  padding-top: 5px;
  border-bottom: 1px solid #b4c1b8;
}

.menu a {
  color: #b4c1b8;
}

.search {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 600px;
  height: 40px;
}

.search-button {
  position: absolute;
  z-index: 900;
  right: 0;
  width: 20%;
  height: 100%;
  background: #0dc79c;
  color: white;
  outline: none;
  border: 0;
  border-radius: 0 5px 5px 0;
  -webkit-appearance: none;
}

.search-bar {
  position: absolute;
  left: 20%;
  width: 60%;
  height: 100%;
  border: 0;
  padding: 5px 5px 5px 10px;
  border-radius: 0;
  font-size: 18px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-bar:focus {
  border: 3px solid #0dc79c;
  outline: 0;
}

.search-bar::-webkit-input-placeholder {
  color: #b4a1a1;
  font-style: italic;
}
.search-bar::-moz-placeholder {
  color: #b4a1a1;
  font-style: italic;
}
.search-bar:-moz-placeholder {
  color: #b4a1a1;
  font-style: italic;
}
.search-bar:-ms-input-placeholder {
  color: #b4a1a1;
  font-style: italic;
}

.search-options {
  position: absolute;
  left: 0;
  width: 20%;
  height: 100%;
  background: #0dc79c;
  color: white;
  outline: none;
  border: 0;
  border-radius: 5px 0 0 5px;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  -webkit-appearance: none;
  margin: 0;
}

.modal-content {
  background: #34495e;
  border: 0;
  color: #b4c1b8;
  border-radius: 20px;
  -webkit-overflow-scrolling: touch;
}

.modal-header {
  overflow: visible;
  background: #1a2c3e;
  border: 0;
  border-radius: 20px 20px 0 0;
  padding-left: 30px;
  padding-right: 30px;
}

.modal-title {
  font-size: 18px;
  font-family: 'Cantata One', serif;
  font-weight: 700;
}

.modal-body {
  font-size: 16px;
  padding: 20px;
  border: 0;
}

.modal-footer {
  background: #1a2c3e;
  border: 0;
  border-radius: 0 0 20px 20px;
}

.modal-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 20px;
}

.modal-author-header {
  font-size: 22px;
  font-weight: 700;
}

.modal-authors {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  font-style: italic;
}

.modal-btn {
  padding: 10px 20px 10px 20px;
  font-size: 20px;
}

.close-x {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #0dc79c;
}

.nav-icon:hover,
.close-x:hover {
  color: #00ffc4;
}

.search-button:hover,
.search-options:hover,
.green-btn:hover,
.search-button:active,
.search-options:active,
.green-btn:active {
  background: #00ffc4;
}

@media (max-width: 960px) {
  .search {
    width: 400px;
  }
  .search-options {
    width: 30%;
  }
  .search-bar {
    left: 30%;
    width: 50%;
  }
}

@media (max-width: 760px) {
  .search {
    top: 70px;
    left: 0;
    width: 100%;
  }
  .search-options {
    border-radius: 0;
  }
  .search-button {
    border-radius: 0;
  }
  .search-bar {
    font-size: 14px;
  }
  .results {
    font-size: 14px;
    margin-top: 40px;
  }
  .results-msg {
    width: 680px;
  }
  .add-top {
    margin-top: 110px;
  }
}

@media (max-width: 400px) {
  .nav {
    height: 50px;
  }
  .nav-header {
    font-size: 24px;
    top: 10px;
  }
  .nav-icon {
    top: 10px;
  }
  .search {
    top: 50px;
  }
  .results {
    margin-top: 30px;
    font-size: 12px;
  }
  .results-msg {
    width: 240px;
  }
  .book-title {
    font-size: 12px;
    padding: 5px 10px 5px 10px;
    margin-top: 8px;
  }
  .modal-title {
    font-size: 14px;
  }
  .add-top {
    margin-top: 90px;
  }
  .menu {
    top: 50px;
    width: 80%;
  }
  .menu-header {
    font-size: 22px;
  }
}

.search-status {
  position: relative;
  font-size: 90px;
  background: white;
}
